body {
	padding: 15px;
	overflow-y: scroll;
}

.icon-plus {
	display: inline-block;
	vertical-align: -.1em;
	border-radius: 50%;
	border: 1px solid #000;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.25em;
	margin-right: 5px;
}

.retable-container:after {
	content: '';
	display: table;
	clear: both;
}

.retable-table {
	float: left;
	width: 32%;
	margin-right: 2%;
}

.retable-table:nth-of-type(3n) {
	margin-right: 0;
}

table {
	width: 100%;
	margin-bottom: 30px;
}

th {
	background: #E3F2FD;
	padding: 15px;
	border: 1px solid #BBDEFB;
}

td {
	border: 1px solid #BBDEFB;
	text-align: center;
	padding: 15px;
}

caption,
.retable-caption {
	padding: 10px;
	font-weight: bold;
	font-size: 1.25em;
	text-align: center;
}
